/*overall*/
.overall {
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: 1s;
    display: flex;
    align-items: center;
}

/*front*/
#card_front {
    background: none;
    border-radius: 0%;
    border: none;
    width: 350px;
}
#card_front {
    height: 100%;
}
@media screen and (max-width: 810px) {
    #card_front {
        width: 97vw;
    }
}
@media screen and (max-height: 414px) {
    #card_front {
        width: 50vw;
    }
}
/*back*/
#card_back {
    border-radius: 0%;
    background: rgba(22,22,22,0.9);
    width: 350px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#card_back h1 {
    font-family: Ringbearer;
    color: ghostwhite;
    font-size: 14pt;
    -webkit-user-select: none;
}
@media screen and (max-width: 810px) {
    #card_back {
        width: 100vw;
        height: 100%;
    }
}
@media screen and (max-height: 414px) {
    #card_back {
        width: 50vw;
    }
}