/*overall*/
.overall {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.overall h1 {
    font-family: Ringbearer;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

/*front*/
.card {
    margin: 50px;
    background: none;
    border: none;
}
#card_front {
    border-radius: 0%;
    border: solid;
}
/*back*/
#card_back {
    border-radius: 0%;
    background: rgba(22,22,22,0.9);
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
}
#card_back h1 {
    font-family: Ringbearer;
    color: ghostwhite;
    font-size: 14pt;
    -webkit-user-select: none;
}

.chapInfo {
    display: flex;
    flex-direction: column;
}

.chapInfo h5 {
    font-family: Ringbearer;
}