/*body*/
.charactersBody {
    margin-top: 5px;
    padding-bottom: 50px;
    background-image: url('../assets/images/party.jpg');
    background-size: cover;
}
.background h2 {
    font-family: Ringbearer;
    color: ghostwhite;
    text-shadow: 2px 4px rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
    padding: 70px 0;
}
.graveBody {
    margin-top: 5px;
    padding-bottom: 50px;
    background-image: url('../assets/images/death.jpg');
    background-size: cover;
}
.characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.character {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
    width: 800px;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    transition: 0.1s;
}
.character:hover {
    transform: scale(1.01);
}
.character img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}
.characterText h5 {
    font-family: Ringbearer;
    font-size: 36px;
    padding-top: 30px;
    padding-left: 30px;
}
.characterText h2 {
    font-family: Ringbearer;
    text-align: left;
    font-style: italic;
    font-size: 16px;
    padding: 0px 0px 30px 30px;
}
.characterText p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 0px 50px 0px 30px;
}
@media screen and (max-width: 1430px) {
    .character {
        width: 550px;
    }
    .character img {
        height: 400px;
        width: 200px;
    }
}
@media screen and (max-width: 1070px) {
    .character {
        width: 425px;
    }
    .character img {
        height: 275px;
        width: 150px;
    }
    .characterText p {
        font-size: 12px;
        padding: 0px 20px 0px 10px;
    }
    .characterText h5 {
        font-size: 24px;
        padding-top: 20px;
        padding-left: 10px;
    }
    .characterText h2 {
        font-size: 12px;
        padding: 0px 0px 10px 10px;
    }
}
@media screen and (max-width: 950px) {
    .character {
        width: 600px;
    }
    .character img {
        height: 400px;
        width: 300px;
    }
    .characterText p {
        font-size: 16px;
        padding: 0px 20px 0px 10px;
    }
}
@media screen and (max-width: 450px) {
    .background h2 {
        font-size: 28px;
    }
    .character {
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    .characterText h2 {
        font-size: 14px;
    }
    .character img {
        height: 350px;
        width: 100%;
    }
}
