/*fonts*/
@font-face {
    font-family: "Ringbearer";
    src: url('../assets/fonts/ringbearer.ttf');
    }

/*overall*/
.background {
    background: black;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

/*header*/
.header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
    filter: blur(2px);
    padding: 0;
    margin: 0;
}
.title {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-family: Ringbearer;
    color: ghostwhite;
    text-shadow: 2px 4px rgb(0, 0, 0);
    font-size: 76px;
    text-align: center;
    width: fit-content;
}
@media screen and (max-width: 950px) {
    .title {
        top: 20vh;
    }
    .title h1 {
        font-size: 56px;
    }
}
@media screen and (max-width: 450px) {
    .title {
        top: 15vh;
    }
    .title h1 {
        font-size: 42px;
    }
}
@media screen and (max-height: 414px) {
    .header {
        height: 80vh;
    }
    .title {
        top: 40vh;
    }
    .title h1 {
        font-size: 56px;
    }
}