/*overall*/
.homePage {
  padding: 0 !important;
  margin: 0 !important;
}
.homePage p {
  font-family: meta;
  font-size: 12px;
}
.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*first page*/
.homeFirstPage {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: top !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeFirstPage h1 {
  font-family: Ringbearer;
  color: ghostwhite;
  font-size: 80px;
  /* padding-top: 200px; */
  margin-left: 15%;
  text-shadow: 2px 4px rgb(0, 0, 0);
}
.homeFirstPage h2 {
  font-family: Ringbearer;
  color: ghostwhite;
  font-size: 48px;
  margin-top: 20px;
  margin-left: 40%;
  max-width: fit-content;
  text-shadow: 2px 4px rgb(0, 0, 0);
}
@media screen and (max-width: 990px) {
  .homeFirstPage h1 {
    margin-left: 5%;
  }
}
@media screen and (max-width: 450px) {
  .homeFirstPage h1 {
    padding-top: 0px;
    font-size: 42px;
  }
  .homeFirstPage h2 {
    font-size: 26px;
  }
}
@media screen and (max-height: 414px) {
  .homeFirstPage h1 {
    font-size: 32pt;
    padding-top: 100px;
    margin-left: 20vw;
  }
  .homeFirstPage h2 {
    font-size: 20pt;
  }
}

/*Second page*/
.homeSecondPage {
  height: 100vh;
  background-position: top !important;
  background-size: cover !important;
  margin: 0;
  padding: 0;
}
.blurbText {
  padding-top: 100px;
  margin-left: 15%;
  max-width: 70%;
}
.blurbText h2 {
  margin-bottom: 80px;
  font-size: 48px;
  font-family: Ringbearer;
  color: ghostwhite;
}
.blurbText p {
  font-family: meta;
  color: ghostwhite;
  font-size: 22px;
}
@media screen and (max-width: 1220px) {
  .blurbText {
    margin-left: 5%;
  }
  .blurbText h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .blurbText p {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .blurbText {
    max-width: 90%;
  }
}
@media screen and (max-height: 414px) {
  .blurbText {
    margin-left: 15%;
    padding-top: 50px;
  }
  .blurbText h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .blurbText p {
    font-size: 12px;
  }
}
.introButton {
  position: absolute;
  right: 30%;
  bottom: -75%;
  border-radius: 0%;
  border-color: rgb(105, 105, 105);
  background: rgb(19, 19, 19);
  box-shadow: 20px 20px 100px 50px rgb(0, 0, 0);
  transition: 0.1s;
}
.introButton h3 {
  padding-top: 5%;
  font-family: Ringbearer;
  color: ghostwhite;
  cursor: pointer;
}
.introButton:hover {
  border-color: white;
  background: rgb(63, 63, 63);
  transform: translate(2px, -2px);
}
@media screen and (max-width: 990px) {
  .introButton {
    right: 15%;
    bottom: -55%;
  }
}
@media screen and (max-width: 450px) {
  .introButton {
    right: 10%;
    bottom: -70%;
    box-shadow: 10px 10px 50px 25px rgb(0, 0, 0);
  }
  .introButton h3 {
    font-size: 20px;
  }
}

@media screen and (max-height: 414px) {
  .introButton {
    right: 15%;
    bottom: -80%;
    box-shadow: 10px 10px 50px 25px rgb(0, 0, 0);
  }
  .introButton h3 {
    font-size: 20px;
  }
}
